* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 16px;
  color: #263238;
}

h1 {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

.container {
  width: 90%;
  max-width: 1400px
}

.text-center {
  text-align: center;
}

.relative {
  position: relative;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.w-100 {
  width: 100%;
}

.max-560 {
  max-width: 560px;
}

.min-h-120 {
  min-height: 120px;
}

.m-center {
  margin: 0 auto;
}

.mr-24 {
  margin-right: 24px;
}

.card {
  margin: 0 auto 12px;
  padding: 24px;
  border: 1px solid #cfd8dc;
  border-radius: 12px;
  box-shadow: 2px 3px 15px #eaeaea;
}

.document-link {
  margin: 12px 12px 0 0;
  padding: 12px;
  border: 1px solid #007c91;
  border-radius: 12px;
  color: #007c91;
  text-decoration: none;
  text-transform: uppercase;
}

.document-link:hover,
.document-link:active {
  background: #007c91;
  color: #fff;
}

.main-title {
  margin-top: 24px;
  margin-bottom: 12px;
}

.secondary-title {
  margin: 48px 0 24px;
}

.nav-link {
  margin-bottom: 12px;
  display: block;
  color: #1565c0;
}

@media (min-width: 480px) {

  .nav-link {
    margin-bottom: 0;
    display: inline-block;
  }

  .nav-link:before {
    position: absolute;
    top: 0;
    right: -12px;
    bottom: 0;
    border-right: 1px solid #cfd8dc;
    display: inline-block;
    content: '';
  }

  .nav-link:last-of-type:before {
    content: none;
  }
}

.text {
  line-height: 1.6;
}

.fs-0 {
  font-size: 0;
}

.fs-16 {
  font-size: 16px;
}

.btn {
  padding: 12px;
  border: 1px solid #007c91;
  border-radius: 12px;
  background: #fff;
  font-weight: 600;
  color: #007c91;
  cursor: pointer;
}

.btn:hover,
.btn:active {
  color: #fff;
  background: #007c91;
}

@media (min-width: 900px) {

  .grid-container {
    display: grid;
    grid-template-columns: 48% 48%;
    grid-column-gap: 4%;
  }
}
